
<?php if ($this->pageCount): ?>
  <div class="paginator" data-table-url="<?= $this->url('get-table-data', ['action'=>'get-table-data'], ['force_canonical' => true]);?>">
    <ul class="pagination">
      <!-- Previous page link -->
      <?php if (isset($this->previous)): ?>
        <li>
          <a href="#" data-page="<?= $this->previous; ?>">
            <<
          </a>
        </li>
      <?php else: ?>
        <li class="disabled">
          <a href="#">
            <<
          </a>
        </li>
      <?php endif; ?>

      <!-- Numbered page links -->
      <?php foreach ($this->pagesInRange as $page): ?>
        <?php if ($page != $this->current): ?>
          <li>
            <a href="#" data-page="<?= $page; ?>">
              <?php echo $page; ?>
            </a>
          </li>
        <?php else: ?>
          <li class="active">
            <a href="#"><?php echo $page; ?></a>
          </li>
        <?php endif; ?>
      <?php endforeach; ?>

      <!-- Next page link -->
      <?php if (isset($this->next)): ?>
        <li>
          <a href="#" data-page="<?= $this->next; ?>">
            >>
          </a>
        </li>
      <?php else: ?>
        <li class="disabled">
          <a href="#">
            >>
          </a>
        </li>
      <?php endif; ?>
    </ul>
  </div>
<?php endif; ?>