<?php

$result = $this->result;
//$this->paginationControl($result, 'Sliding', 'parser/partial/paginator');

$pageCount = $result->getPages()->pageCount;
?>



<div class="col-md-6 pull-right">
  <button href="<?= $this->url('process-data', ['action'=>'process-data'], ['force_canonical' => true]);?>"
          class="btn btn-primary pull-right parse-data"
          data-name="parse-data"
          data-index-url="<?= $this->url('parser', ['action'=>'index'], ['force_canonical' => true]);?>"
          type="button">
    Get Data
  </button>
</div>


<?php if (count($result)) : ?>

  <div class="col-md-6 pull-left">
    <div class="input-group">
      <input type="text" data-name="search-data" class="form-control" placeholder="Search for...">
    </div>
  </div>

  <section id="table-content">
    <?= $this->partial('parser/index/table', ['result' => $result]); ?>
  </section>

  <section id="paginator-content" data-page-count="<?= $pageCount; ?>"
           data-table-url="<?= $this->url('get-table-data', ['action'=>'get-table-data'], ['force_canonical' => true]);?>">
    <ul id="pagination" class="pagination-md"></ul>
  </section>
<?php else : ?>
  <h3>There is currently no data available for display!</h3>
<?php endif; ?>

