<?php
use Carbon\Carbon;
use Parser\Enum\ParserEnum;

$result = $this->result;
$titleRow = ParserEnum::CIS_VEHICLE_FIELDS;
$dates = ParserEnum::DATE_FIELDS;
?>

<table class="table table-striped content">
  <thead>
  <tr>
    <?php foreach ($titleRow as $columnName) : ?>
      <th><?= $columnName; ?></th>
    <?php endforeach; ?>

  </tr>
  </thead>

  <tbody>
  <?php foreach ($result as $row) : ?>
    <tr>
      <?php foreach ($titleRow as $columnName) :

        $cellData = in_array($columnName, $dates) ?
          Carbon::parse($row->{$columnName})->format('d.m.Y') :
          $row->{$columnName};
        ?>
        <td><?= $cellData; ?></td>
      <?php endforeach; ?>
    </tr>
  <?php endforeach; ?>
  </tbody>
</table>